@import "../../scss/common/root";

.main-menu .navigation {
    li{
        padding: 25px 0;
    }
    li.current > a{
        color: var(--sec-title-subtitle-color);
        
    }
}


.header-style-two{
    .header-lower{
        .main-box{
            .outer-box .mobile-nav-toggler{
                padding: 25px 0;
            }
        }
        .outer-box{
            .main-menu .navigation > li > ul{
                left: unset;
                right: -15px;
                width: 90px;
                li{
                    padding: 0;
                    a{
                        text-align: center;
                    }
                }
            }
        }
    }
}

.about-section-two{
    .about2-pattrn1{
        bottom: -70px;
        z-index: 99;
    }
    .content-column .inner-column .list-box .inner .thumb img{
        max-width: 85px;
    }
}

.blog-block{
    .content-box{
        .read-more, .title, .post-meta li{
            font-size: 16px;
        }
    }
}

.service-block .inner-box .content-box .icon{
    max-width: 100px;
}


h3.title{
    font-size: 20px;
}

h4.title{
    font-size: 18px;
}

.contact-details__info li{
    .icon{
        width: 20%;
    }
    .text{
        width: 80%;
    }
}

.cursor-pointer{
    cursor: pointer;
}

.text-3lines{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.text-2lines{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}